Game: Tic-Tac-Toe

1. Played by two players from the same console
2. Field size 3 cells x 3 cells
3. At the beginning of the game, the system asks for a username
4. If the username is registered, then the player starts playing
5. If the username is not registered, then a player have to enter the Name, Age
6. in the enf of the game, ask - Want to continue, if YES - start again, if NO - Break
 
Rules of the game: 
1. The coordinates of the cell x and y have to be requested from each player
2. If x+y position is occupied, system asks to repeat the move
3. After each move, a board should be printed
4. Cells horizontally occupied by one player have to be checked.
5. Cells vertically occupied by one player have to be checked.
6. Cells diagonally occupied by one player have to be checked.
7. The winning position have to be checked horizontally, vertically, diagonally
8. If the three cells horizontally or vertically or diagonally are occupied by one player, then VICTORY
9. If all cells are occupied and there is no winning position, then a draw
10.The data of the players must be saved in the database - username, number of moves, number of victory

Vlad: 
1. Points  4, 5, 6, 7, 8 repeating themselves. The 7 would be enogh :)
2. I would like to make it possible for a user to take see all moves in a certain game.
For example if current user is A
then he can see all the moves of a game where he played
So he is presented with list of games where he played
and then he choses one and sees all the moves that were done there
